:root{
    --color-neon: hsl(317 100% 54%);
    --color-background: hsl(323 21% 16%);
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    background: var(--clr-bg);
    min-height: 100vh;
    display: grid;

}